<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- Move that to a separate file. -->
    <link rel="stylesheet" href="/static/ilastik-style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
    <title>{% block title %}{% endblock %} - ilastik-glancer</title>
    {% endblock %}
</head>
<body>
    <div class="page-header">
      <img src="/static/ilastik-logo.png" alt="ilastik"
       class="pull-left" id="main-logo">
      <h1>ilastik  <br /> <small>the interactive learning and segmentation toolkit</small></h1>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2018 by <a href="http://www.ilastik.org">ilastik development team</a>.
        {% endblock %}
    </div>
</body>
</html>